<h1>Add Restaurant</h1>
<%# Simple form to display restaurant info %>
<%= simple_form_for(@restaurant) do |r|%>
<%= r.input :name %>
<%= r.input :address %>
<%= r.input :phone_number %>
<%= r.input :category %>
<%= r.submit %>
<% end %>
