<h1>Restaurants</h1>

<h3><%= @restaurant.name %></h3>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<%# Display restaurant reviews %>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<%# Simple_form to link restaurant and review %>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to restaurants", restaurants_path %>
